@page "/leaderboard"
@page "/leaderboard/{tenantId}"

<h3>Leaderboard</h3>

<h5>@CustomTitle</h5>

<section class="main-content">
	<div class="container">
		<h1>Winners</h1>
		<br>
		<br>

		<div class="row">
			<div class="col-sm-4">
				<div class="leaderboard-card leaderboard-card--first">
					<div class="leaderboard-card__top">
						<h3 class="text-center">15-7</h3>
					</div>
					<div class="leaderboard-card__body">
						<div class="text-center">
							<img src="/img/pp.png" class="circle-img mb-2" alt="User Img">
							<h5 class="mb-0">Ryan</h5>
							<p class="text-muted mb-0">First</p>
							<hr>
							<!-- <div class="d-flex justify-content-between align-items-center">
								<span><i class="fa fa-map-marker"></i> Bangalore</span>
								<button class="btn btn-outline-success btn-sm">Congratulate</button>
							</div> -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="leaderboard-card">
					<div class="leaderboard-card__top">
						<h3 class="text-center">14-8</h3>
					</div>
					<div class="leaderboard-card__body">
						<div class="text-center">
							<img src="/img/logo.png" class="circle-img mb-2" alt="User Img">
							<h5 class="mb-0">Mike</h5>
							<p class="text-muted mb-0">Second</p>
							<hr>
							<!-- <div class="d-flex justify-content-between align-items-center">
								<span><i class="fa fa-map-marker"></i> Bangalore</span>
								<button class="btn btn-outline-success btn-sm">Congratulate</button>
							</div> -->
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-4">
				<div class="leaderboard-card">
					<div class="leaderboard-card__top">
						<h3 class="text-center">$1,012</h3>
					</div>
					<div class="leaderboard-card__body">
						<div class="text-center">
							<img src="./assets/user3.jpg" class="circle-img mb-2" alt="User Img">
							<h5 class="mb-0">John doe</h5>
							<p class="text-muted mb-0">@johndoe</p>
							<hr>
							<div class="d-flex justify-content-between align-items-center">
								<span><i class="fa fa-map-marker"></i> Bangalore</span>
								<button class="btn btn-outline-success btn-sm">Congratulate</button>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>

		<h4>Everyone Else</h4>

		<table class="table">
			<thead>
				<!-- <tr>
					<th>User</th>
					<th>Status</th>
					<th>Location</th>
					<th>Email</th>
					<th>Congratulate</th>
				</tr> -->
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<img src="/img/pp.png" class="circle-img circle-img--small mr-2" alt="User Img">
							<div class="user-info__basic">
								<h5 class="mb-0">Matt</h5>
								<p class="text-muted mb-0">10-12</p>
							</div>
						</div>
					</td>
					<td>

						<!-- <div class="d-flex align-items-baseline">
							<h4 class="mr-1">$1,253</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
						</div> -->
					</td>
					<!-- <td>8-11</td> -->
					<!-- <td>kiran@kiranmail.com</td> -->
					<!-- <td>
						<button class="btn btn-success btn-sm">Congratulate</button>
					</td> -->
				</tr>
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<img src="/img/pp.png" class="circle-img circle-img--small mr-2" alt="User Img">
							<div class="user-info__basic">
								<h5 class="mb-0">Snotton</h5>
								<p class="text-muted mb-0">9-13</p>
							</div>
						</div>
					</td>
					<td>
						<!-- <div class="d-flex align-items-baseline">
							<h4 class="mr-1">$1,051</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
						</div> -->
					</td>
					<!-- <td>Bangalore</td>
					<td>sandeep@sandeepmail.com</td>
					<td>
						<button class="btn btn-success btn-sm">Congratulate</button>
					</td>  -->
				</tr>
				<!-- <tr>
					<td>
						<div class="d-flex align-items-center">
							<img src="./assets/user3.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
							<div class="user-info__basic">
								<h5 class="mb-0">John Doe</h5>
								<p class="text-muted mb-0">@johndoe</p>
							</div>
						</div>
					</td>
					<td>
						<div class="d-flex align-items-baseline">
							<h4 class="mr-1">$1,012</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
						</div>
					</td>
					<td>Bangalore</td>
					<td>kiran@kiranmail.com</td>
					<td>
						<button class="btn btn-success btn-sm">Congratulate</button>
					</td>
				</tr>
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<img src="./assets/user4.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
							<div class="user-info__basic">
								<h5 class="mb-0">John Noakes</h5>
								<p class="text-muted mb-0">@johnnoakes</p>
							</div>
						</div>
					</td>
					<td>
						<div class="d-flex align-items-baseline">
							<h4 class="mr-1">$986</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
						</div>
					</td>
					<td>Bangalore</td>
					<td>kiran@kiranmail.com</td>
					<td>
						<button class="btn btn-success btn-sm">Congratulate</button>
					</td>
				</tr> -->
				<!-- <tr>
					<td>
						<div class="d-flex align-items-center">
							<img src="./assets/user5.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
							<div class="user-info__basic">
								<h5 class="mb-0">Tom harry</h5>
								<p class="text-muted mb-0">@tomharry</p>
							</div>
						</div>
					</td>
					<td>
						<div class="d-flex align-items-baseline">
							<h4 class="mr-1">$951</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
						</div>
					</td>
					<td>Bangalore</td>
					<td>kiran@kiranmail.com</td>
					<td>
						<button class="btn btn-success btn-sm">Congratulate</button>
					</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</section>

@code {

	[Parameter]
	public string TenantId { get; set; }

	string CustomTitle = "";

	protected override void OnInitialized()
	{
		if (string.IsNullOrEmpty(TenantId))
		{
			CustomTitle = "Code Buoy";
		}else
		{
			CustomTitle = TenantId;
		}
	}
}